# Java / Maven
target/

# Test and output
/test-output/
/allure-results/

# IDE
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Screenshots and large files
BugScreenshots/

# Maven wrapper
.mvn/

# Eclipse
metadata/

# IntelliJ
out/

# Others
node_modules/
